{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CalculateApp</title>
    <link href={% static 'medapp.css' %} rel="stylesheet">
</head>
<body>
{% if User.is_active %}
    <div class="auth" align="right">
    <ul class="auth">
        <li><a href="/medapp/edit-profile/">Редактировать профиль <b>DEBUG</b></a></li>
        <li><a href="/auth/logout/">Logout ({{ User.first_name }} {{ User.last_name }})</a></li>
    </ul>
    </div>
<div class="menu">
<ul class="menu">
    {% if startapp_active %}
        <a href="/"><li class="active">Главная</li></a>
    {% else %}
        <a href="/"><li>Главная</li></a>
    {% endif %}
        <a href="/journal/all-clients&"><li>Журнал</li></a>
        <a href="/medapp/"><li>База</li></a>
        <a href="/calculate/interval/"><li>Отчетность</li></a>
        <a href="#"><li>Кабинеты <b>DEBUG</b></li></a>
</ul>
</div>
{% endif %}

<div class="center-align">
<div class="forms">
{% block forms %}
{% endblock %}
</div>

<div class="main">

{% block main %}
{% endblock %}
</div>
</div>