{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчетность</title>
    <link href={% static 'calculateapp.css' %} rel="stylesheet">
</head>
<body>
{% if User.is_active %}
    <div class="auth">
    <ul class="auth">
        <li><a href="/medapp/edit-profile/">Редактировать профиль <b>DEBUG</b></a></li>
        <li><a href="/auth/logout/">Logout ({{ User.first_name }} {{ User.last_name }})</a></li>
    </ul>
    </div>
<div class="menu">
    <ul class="menu">
        <a href="/"><li>Главная</li></a>
        <a href="/journal/all-clients&"><li>Журнал</li></a>
        <a href="/medapp/clients/"><li>База</li></a>
        {% if calculateapp_active %}
            <a href="/calculate/interval/"><li class="active">Отчетность</li></a>
        {% else %}
            <a href="/calculate/interval/"><li>Отчетность</li></a>
        {% endif %}
        <a href="#"><li>Кабинеты <b>DEBUG</b></li></a>
</ul>
</div>
{% endif %}

<div id="content">

<div class="left-nav">
{% block calculate_menu %}
    <div id="down-menu">
<ul class="down-menu">
    <a href="/calculate/today/"><li class="list-menu">Cегодня</li></a>
    <a href="/calculate/last-day/"><li class="list-menu">Вчера</li></a>
    <a href="/calculate/last-week/"><li class="list-menu">Неделя</li></a>
    <a href="/calculate/last-month/"><li class="list-menu">Месяц</li></a>
    <a href="/calculate/interval/"><li class="list-menu">Задать промежуток</li></a>
</ul>
    </div>
{% endblock %}
</div>

<div class="right-content">
<div class="forms">
{% block forms %}
{% endblock %}
</div>


<div class="main">
{% block main %}
{% endblock %}
</div>
</div>

</div>

</body>
</html>